<?php
define('DB_NAME', 'centcom');
if ($_SERVER['SERVER_NAME'] == 'localhost') {
    define('DB_HOST', 'localhost');
    define('DB_USER', 'root');
    define('DB_PASS', 'root');
}
else {
    define('DB_HOST', 'vt.mysql.vdev.cdc.nicusa.com');
    define('DB_USER', 'cms_dcms7');
    define('DB_PASS', 'vCyRa7JPQTde9rdT');
}
define('PROD_WEB_SERVER', '.vermont.gov');
define('DEV_WEB_SERVER', '.vcms.vt.dev.cdc.nicusa.com');